body
{
  background-color: lightyellow;
}

header
{
  height: 50px;
}

main,footer
{
  width: 80%;
}

main 
{
  height: auto;
  padding-bottom: 50px;
}

main>div
{
  float: left;
}

footer
{
  background-color: honeydew;
}

h1{padding-top: 30px;}

aside 
{
  width: 20%;   
  height: max-content;
  position: fixed;
  right: 0px;
  top: 60px;

}

.custom_content
{
  padding-top: 30px;
  padding-bottom: 30px;
}

#SelfImg
{
  width: 70%;
  border-radius: 50%;
  display:block; margin:auto;

}

#SelfIntroduction
{ 
  padding-top: 10px;
  height: 280px;
  background-color: aquamarine;
}

#SchoolExperience
{
  background-color:rgb(151, 224, 223);
}

#WorkExperience
{
  background-color: yellowgreen;
}

#SoftwareSkills
{
  background-color: whitesmoke;
}

#Works
{
  background-color: lightgreen;

}

#Hobby
{
  background-color: orange;

}



