body{
    background: linear-gradient(to bottom,rgba(2, 240, 248, 0.411),white);
}



.jumbotron{
    background: url("/imges/bg1.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    
}
.display-3{
    color: rgb(255, 255, 255);
}


main{
   
}

.zone{
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius:30px;
    margin: 2px;
    width: 23%;
    height: 250px ;
    padding: 20px;
    
}